/auto-save-list/*
/url/cookies
/setup-private.el
/eshell/
/save-place
*.elc
/tramp
.cask
/.session
/elpa/
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/places
/el-get/
/image-dired/
/projectile-bookmarks.eld
/projectile.cache
/var/
/abbrev_defs
/ac-comphist.dat
/bookmarks
/custom.el
/data/mthesaur.txt.cache
/.python-environments/
/org-clock-save.el
/eww-bookmarks
/personal-dict
/url/
